.container {
  width: 640px;
  margin: 0 auto;
}

.album {
  width: 640px;
  height: 400px;
  overflow: hidden;
  opacity: 1;
}

.images {
  background-color: rgb(225, 169, 250);
  display: flex;
  position: relative;
  height: 400px;
}

.slider__object {
}

.images img {
  width: 640px;
  height: 400px;
}

button, button:active, button:focus {
  width: 100px;
  height: 30px;
  color: white;
  background-color: aquamarine;
  border: none;
  outline: none;
}

button:hover {
  background-color: violet;
}

button:disabled {
  background-color: gray;
}

/* .prev {
  float: left;
}

.next {
  float: right;
} */